<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="IconFolderPath" value="C:\Path\To\Your\Icons"/>
    <add key="LastTheme" value="0"/>
    <add key="ChangeLogPath" value="C:\Program Files (x86)\BlazingVx\IconMapper\ChangeLog.md"/>
  </appSettings>
</configuration>
